*{ margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #0056b3, #efefef); 
  background: linear-gradient(to right, #0056b3, #efefef); 
  font-family: 'Varela Round', sans-serif;
}
header{padding: 30px 0px; background-color:#B0A695; }

header a i{float: right;
color: black; padding: 5px;}

.cover{display: block;
  margin-left: 80px; ;} 

 
body {
  overflow: hidden; 
  background: #B0A695;
  background: -webkit-linear-gradient(to right, #0056b3, #efefef); 
  background: linear-gradient(to right, #0056b3, #efefef); 
  font-family: 'Varela Round', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header .ul{ list-style:
  none; 
  padding: 10px 0px; 
   font-size: large; 
  }

li{float: left;  color: black;}

li a{color: black; }

li a:hover{color: black;  background-color: #776B5D; padding: 15px; text-decoration: none; border-radius: 10px;}

li a{ text-decoration: none; display: flex; 
 padding: 8px 10px ;  
}

.payment-container {
  background-color:#F3EEEA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin: 50px 450px;
;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}